.typing-cursor {
  display: inline-block;
  margin-left: 5px;
  width: 3px;
  height: 1.5em;
  background: #228be6;
  animation: blink 1s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

a.desc {
  color: #5865f2;
}
a.desc:hover {
  text-decoration-line: underline;
}

.chat-user {
  flex-direction: row-reverse;
  .ant-comment .ant-comment-inner {
    flex-direction: row-reverse;
    justify-content: flex-start;
    justify-self: end;
  }

  .ant-comment-content-detail {
    text-align: right;
  }

  .ant-comment .ant-comment-avatar {
    margin-right: 0;
    margin-left: 12px;
  }

  .ant-comment-content-author {
    justify-self: end;
  }
}
